* {
  box-sizing: border-box;
  font-family: URW din;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-width: 100%;
}

h1 {
  padding: 0.5rem;
  font-weight: 500;
  font-size: 2rem;
}
nav {
  height: 100vh;
  border-right: 3px solid gray;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.content {
  margin-left: 300px;
  padding: 40px 40px;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.navlink {
  width: 100%;
  min-height: 10px;
  border-top: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.nav-link:hover {
  color: #666;
  text-decoration: underline;
}

h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

p,
li {
  margin-bottom: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
}

li {
  margin-left: 2rem;
}

.nav-link {
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.code {
  background-color: #eeeeeb;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
}

.nested {
  margin-left: 6rem;
}

@media only screen and (max-width: 768px) {
  nav {
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 3px solid gray;
    padding: 1rem 0;
    justify-content: flex-start;
    overflow: scroll;
    position: static;
  }

  .content {
    margin-left: 0px;
    padding: 24px 8px;
    min-height: 100%;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p,
  li {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }
}

.main-section {
  color: black;
}
